:root {
    --sidebar-bg-color: #1992D4;
    --main-bg-color: #E2E8F0;
    --accent-color: #F0B429;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px 4fr;
}

.sidebar-container {
    grid-row: 1 / 4;
    background-color: var(--sidebar-bg-color);
    display: grid;
    grid-template-rows: 60px 200px 500px;
    padding: 15px 20px;
    gap: 20px;
    /* min-width: 250px; */
}

.sidebar-title {
    display: flex;
    gap: 15px;
    align-items: center;
}

.sidebar-title>h2 {
    margin: 0;
    color: white;
    font-size: 25px;
}

.dashboard-icon {
    height: 40px;
}

.sidebar-icon {
    height: 20px;
}

.top-options,
.bottom-options {
    display: grid;
    margin-left: 5px;
    gap: 10px;
}

.top-options {
    grid-template-rows: repeat(6, 40px);
    margin-top: 10px;
}

.bottom-options {
    grid-template-rows: repeat(3, 40px);
    margin-top: 140px;
}

.top-options>a,
.bottom-options>a {
    color: white;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    font-weight: 600;
}

.top-options>a:hover,
.bottom-options>a:hover {
    /* margin-left: 1px; */
    background-color: #1885c0;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: var(--accent-color);
    padding-left: 10px;
}


.header-container {
    position: relative;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px max(94px);
    padding: 15px 40px;
    gap: 20px;
    box-shadow: 0 3px 5px rgba(69, 69, 69, 0.2);
}

.header-top-left {
    display: grid;
    grid-template-columns: 30px 2fr;
    align-items: center;
    gap: 10px;
}

.header-top-right {
    display: grid;
    grid-template-columns: 25px 50px 130px;
    align-items: center;
    justify-self: end;
    gap: 30px;
}

.header-top-right > p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.header-botttom-left {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

.header-botttom-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-self: end;
    gap: 25px;
}

.header-icon, .card-icon {
    height: 25px;
}

.profile-picture {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #f9c03a;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.pic2 {
    height: 70px;
    width: 70px;
}

.profile-picture > img {
    width: 38px;
    height: 38px;
    object-fit: contain;
}

.pic2 > img {
    width: 58px;
    height: 58px;
}

.profile-info > p {
    margin: 0;
    line-height: 25px;
}

.greeting {
    font-size: 14px;
    font-weight: 600;
}

.user-name {
    font-size: 20px;
    font-weight: 800;
}

input[type="search"] {
    border: none;
    background-color: var(--main-bg-color);
    max-width: 650px;
    height: 30px;
    border-radius: 20px;
}

input[type="button"] {
    background-color: var(--sidebar-bg-color);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.main-container {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px 30px;
    background-color: var(--main-bg-color);
    /* border: 3px solid black; */
}

.main-title > p,  .announcement-title > p, .trending-title > p {
    margin: 13px 0;
    font-size: 20px;
    font-weight: 500;
}

.trending-title {
    margin-top: 50px;
}

.main-left {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    padding: 15px 25px;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: var(--accent-color);
    border-radius: 6px;
    background-color: white;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    box-shadow: 3px 3px 5px rgba(69, 69, 69, 0.2);
}

.card-icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.card-icon {
    cursor: pointer;
}

.card p:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}

.card p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 20px;
    color: gray;
}

.announcement-container,
.trending-container {
    background-color: white;
    padding: 15px 35px;
    border-radius: 6px;
    max-width: 350px;
    display: grid;
    box-shadow: 0 3px 5px rgba(69, 69, 69, 0.2);
}

.announcement-container p:nth-child(1) {
    font-weight: 700;
    margin-bottom: 0;
}

.announcement-container p:nth-child(2) {
    color: gray;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}

.announcement-container div:nth-child(-n+2) {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(197, 196, 196);
}

.announcement-container div:nth-child(2),
.announcement-container div:nth-child(3) {
    margin-top: 10px;
}

.trending-container {
    gap: 15px;
}

.trending {
    display: grid;
    grid-template-columns: 50px 150px;
    align-items: center;
    gap: 15px;
}

.dog {
    background-color: rgb(214, 239, 254);
}

.hero {
    background-color: rgb(163, 163, 163);
}

.penguin {
    background-color: rgb(253, 182, 194);
}

.name-container p:nth-child(1) {
    margin-bottom: 0;
}

.name-container p:nth-child(2) {
    margin-top: 1px;
    color: gray;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}